<h1><%= @task.title %></h1>


<div class="taskcard">
  <p><%= @task.details %></p>

</div>


<p><%= @task.completed %></p>
<hr>
<%= link_to "Back to list", list_tasks_path %>
<%= link_to "Add a new task", new_path %>

<%= link_to "Edit Task", edit_task_path %>

